	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Bakery</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->

		</head>
		<body>
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row align-items-center">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
					      	<div class="menu-social-icons">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</div>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
								<a class="btns" href="tel:+261 32 34 567 89">+261 32 34 567 89</a>
				  				<a class="btns" href="mailto:support@colorlib.com">fitestena@gmail.com</a>
				  				<a class="icons" href="tel:+953 012 3654 896">
				  					<span class="lnr lnr-phone-handset"></span>
				  				</a>
				  				<a class="icons" href="mailto:support@colorlib.com">
				  					<span class="lnr lnr-envelope"></span>
				  				</a>
				  			</div>
				  		</div>
		  			</div>
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
			    		<a href="index.html"><img src="img/plogo.png" alt="" title="" /></a>
						<nav id="nav-menu-container">
							<ul class="nav-menu">
							  <li class="menu-active"><a href="#home">Home</a></li>
							  <li><a href="#team">Team Mavitrika</a></li>
							  <li><a href="#footera" >Contact</a></li>
							</ul>
						</nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex justify-content-center align-items-center">
						<div class="banner-content col-lg-10 col-md-12 justify-content-center">
							<h6 class="text-uppercase">Mitady hatrany ny fahafinaretan'ny masonao sy ny vavanao.
							</h6>
							<h1>
								Tongasoa eto amin'ny PorkHub
							</h1>
							<p class="text-white mx-auto">
								Aleo ravim-bomanga arahin-tsentsetra, toy izay hena kisoa arahin-dromoromo.
							</p>
							
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-9">
							<h6 class="text-uppercase">Satria ny fahafinaretanao no tadiavinay</h6>
							<h1>
								Miara miasa aminà mpanao lakozia matianina izahay
							</h1>
							<p>
								<span>Fanambinay ny tsy handiso fanantenana an'iza na iza, eny, na fady kisoa ary ianao.</span>
							</p>
							<p>
								Folo taona no nikarohanay an'izay tsiro mety hifanaraka amin'ny filàn'ny besinimaro, ary raha manana ny fangatahanao manokana azonao dia azonao atao tsara ny milaza izay mety haha afa-po anao ka ho tanterahinay soa aman-tsara izany.
								

							</p>
							
						</div>
					</div>
				</div>
				<img class="about-img" src="img/pork-bulgogi.png" alt="">
			</section>
			<!-- End home-about Area -->


			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-9 pb-30 header-text">
							<h1>Inona no ataonay ?</h1>
							<p>
								Fanontaniana tsara fipetraka izany, ny PorkHub dia orinasa mpikarakara manokana ny kisoa, sady miompy no miara miasa akaiky aminà mpanao lakozia matianina.
								Tsy misy ahiahiana noho izany ny amin'ny kalitaon'ny hena vokarinay. Indreto ny nambaran'ny mpanjifan'ny vokatry ny PorkHub any amin'ny tambazotra sosialy:
							</p>
						</div>
					</div>
					<div class="row">
						<div class="single-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/b1.jpg" alt="">
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/ramac.jpg" alt="">
									<a href="#"><span>Emmanuel Macron</span></a>
								</div>
								<div class="meta">
									24 Janoary
									<span class="lnr lnr-heart"></span> 134
									<span class="lnr lnr-bubble"></span> 15
								</div>
							</div>
							<a href="#">
								<h4>Vous savez tirer le meilleur de la viande de porc</h4>
							</a>
							<p>
								"Tout est bon dans le cochon", avec PorkHub, l'adage change un tout petit peu, car le mot "bon" est bien trop faible.
								J'étais fort étonné d'apprendre qu'ils pouvaient encore faire mieux que ce qu'ils proposaient à la carte : en s'adaptant aux goûts du client
							</p>
						</div>
						<div class="single-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/b2.jpg" alt="">
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/mohammed.jpg" alt="">
									<a href="#"><span>Mohammed Bin</span></a>
								</div>
								<div class="meta">
									13 Desambra
									<span class="lnr lnr-heart"></span> 06
									<span class="lnr lnr-bubble"></span> 25
								</div>
							</div>
							<a href="#">
								<h4>Nanova ny finoako ny nanandramako ny vokatry ny PorkHub</h4>
							</a>
							<p>
								Ny raiko silamo, ary ny reniko advantista, izaho nanaraka ny finoan'i dadanay, fa na ny andaniny na ny ankilany samy mandrara ahy tsy hihinana henankisoa.
								Indray andro aho anefa tsy naharitra fa nanandrana nisakafo tao amin'ny PorkHub, ary nahatsapa tena nanota fady aho fa nandeha ny fotoana dia nandinika aho,
								ary tonga saina fa ny tsy fihinana ny vokatry ny PorkHub no ota amiko ka nampivadika ahy ho katôlika izany."
							</p>
						</div>
						<div class="single-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="img/b3.jpg" alt="">
							</div>
							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/user.png" alt="">
									<a href="#"><span>RAVELOJAONA Voary</span></a>
								</div>
								<div class="meta">
									7 Aogositra
									<span class="lnr lnr-heart"></span> 39
									<span class="lnr lnr-bubble"></span> 11
								</div>
							</div>
							<a href="#">
								<h4>Ny tsara tsy mba mora... afa-tsy hoe vokatry ny PorkHub no resahana</h4>
							</a>
							<p>
								Mahagaga fa indraindray mampanontany tena anao hoe henankisoa marina ve io hoaninao io satria tena mora tokoa anefa tsara. Hitako anefa ny fomba fikarakaran'izy ireo azy (eny, azonao jerena izany raha mahafinaritra anao) ka tsy misy ahiako mihitsy amin'ny fahadiovan'ny hena sy ny maha henakisoa sa tsia azy (tena henakisoa ilay karakarain'izy ireo).
							</p>
						</div>
											
												
					</div>
				</div>
			</section>
			<!-- end blog Area -->

			<!-- Start about-video Area -->
			<section class="about-video-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 about-video-left">
							<h6 class="text-uppercase">Hena tsara kalitao, kisoa tsara karakara</h6>
							<h1>
								Inty misy horonantsary <br>
								mampiseho ny fomba fiompianay ireo kisoa
							</h1>
							<p>
								<span></span>
							</p>
							<p>
								Ny kisoanay tompoko dia ompiana amin'ny fomba bio, tsy mampiasa akora simika na kely fotsiny ary, mitsinjo ny mpiasanay raha teo izahay satria mahavoa ny omamiadana ireny vokatra ireny.
							</p>
							
						</div>
						<div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
							<a class="play-btn" href="https://www.youtube.com/watch?v=zoma81uKf44"><img class="img-fluid mx-auto" src="img/play.png" alt=""></a>
						</div>
					</div>
				</div>
			</section>
			<!-- End about-video Area -->

			<!-- Start review Area -->
			<section class="review-area section-gap relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-9 pb-40 header-text text-center">
							<h1 class="pb-10 text-white"></h1>
							<p>
								Toy izao no fanehoan-kevtr'ireo mpanjifa.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="active-review-carusel">
							<div class="single-review item">
								<img src="img/r1.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Saphir stone</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Tsy mihinana kisoa ah de tsy aiko!
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r2.jpeg" alt=""style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Jeni Avoarisera</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Milay e!
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r3.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Tino Sam</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Mahay mahandro nareo ka!
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r4.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Hulda Sutton</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r5.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Beby Rasoa</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Mankasitra eh!
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r6.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Sitraka Rakotovao</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Za tsy mihinana kisoa ah, fa de faly aho eeeh!
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r7.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Fannie Rasoa</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
									Nahafinaritra ny fandraisana, mbola iverina aho!
								</p>
							</div>
							<div class="single-review item">
								<img src="img/r8.jpeg" alt="" style="vertical-align: middle;
								width: 50px;height: 50px;border-radius: 50%">
								<div class="title justify-content-start d-flex">
									<a href="#"><h4>Mr Makaka</h4></a>
									<div class="star">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>
								<p>
								Ny sakafo tsara indrindra nohaniko atrizay! Misaotra fa lafatra e!
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End review Area -->



			<!-- Start item-category Area -->
			<section class="item-category-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-80 header-text text-center">

							<h1 class="pb-10" id="team">Team mavitrika</h1>
							<p>
								Ireo olona mafatra-po vonona manome fahafam-po anao.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-item">
								<div class="thumb">

									<img class="img-fluid" src="img/c0.jpeg" alt="">
								</div>	
								<a href="#"><h4>Ranto</h4></a>
								<p>
									"Mirediredy ho lambolahy, fa rehefa mahita ampombo malemy, miketraka ho reni-kisoa."
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-item">
								<div class="thumb">
									<img class="img-fluid" src="img/c1.jpeg" alt="">
								</div>	
								<a href="#"><h4>Zo</h4></a>
								<p>
									"Ny lambo mena hena fa matanjaka, ny kisoa madio hena fa malemy modaka."
							</p>
						</div>
					</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-item">
								<div class="thumb">
									<img class="img-fluid" src="img/c2.jpeg" alt="">
								</div>	
								<a href="#"><h4>Santatra</h4></a>
								<p>
										"Vavakisoa misy sira, ka tokinao hihinana azy."
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-item">
								<div class="thumb">
									<img class="img-fluid" src="img/c3.jpeg" alt="">
								</div>	
								<a href="#"><h4>Maya</h4></a>
								<p>
									"Manalasala toin'ny mamely renin'kisoa, hitsanganana iva loatra, andoalihana avo loatra"
								</p>
							</div>
						</div>																	
					</div>
				</div>
			</section>
			<!-- End item-category Area -->


			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Momba anay</h6>
								<p>
									Zahay dia mpianatra ato amin'ny toerana misy anay! Zay ihany no tokony ho fantatrao!
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Taratasy vaovao</h6>
								<p>Raha te aharaka vaovao hatrany ianao</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Adiresy mailaka" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adiresy mailaka'" required="" type="email">
										<button class="click-btn"><i class="lnr lnr-arrow-right" aria-hidden="true"></i></button>
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>
										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Araho izahay</h6>
								<p>Andao isika hanana sosialy</p>
								<div class="footer-social d-flex align-items-center">
									<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-12" id="footera">
							<p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Copyright © 2018 All rights reserved Ity sary ity dia natao tamin'<i class="fa fa-heart-o" aria-hidden="true"></i> ny <a href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						</div>
					</div>
				</div>
			</footer>

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>
 			<script src="js/jquery-ui.js"></script>
			<script src="js/owl.carousel.min.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>
			<script src="js/mail-script.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
